body{
    background-color: whitesmoke;
    font-family: "Lucida Console", Monaco, monospace;
}

a{
    text-decoration: none;
    color: black;
}

#container{
    background-color: whitesmoke;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 0;
}

#intro{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;
    background-color: whitesmoke;
}

#nav ul{
    width: 20%;
    list-style-type: none;
    padding: 50px;
    background-color: whitesmoke;
    float: left;
    clear: none;
}

#nav .selected{
    font-weight: bold;
}

#main{
    width: 80%;
    float: right;
    background-color: whitesmoke;
    clear: none;
    color: black;
}

#blogs{
    width: 80%;
    float: right;
    background-color: whitesmoke;
    clear: none;
    color: black;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    text-align: right;
}
